*{
    background-color: rgb(189, 189, 118);
}
h1{
    font-style: oblique;
    text-decoration: underline;

}
header nav ul{
    display: flex;
    justify-content: space-around;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    color: orangered;
    text-decoration: none;
}
header nav ul li a:hover{
    text-decoration: underline;
}